*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  font-size: 15px;
  font-family: "Outfit";

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --shadow: rgba(0, 0, 0, 4.77%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slate-300);
}

/* Card Container */
.card-container {
  max-width: 320px;
  padding: 1em;
  background: var(--white);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 25px 25px var(--shadow);
  padding-bottom: 40px;
}

/* ----- QR Code Image */
.img-container {
  border-radius: 20px;
  overflow: hidden;
}
img.qr-code {
  width: 100%;
  object-fit: scale-down;
  object-position: 50% 50%;
}

/* ----- Content */
.content {
  margin-top: 24px;
  padding: 0 16px;
}

h1.headline {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  color: var(--slate-900);
}

p.sub-head-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--slate-500);
}
